# Quartus build artifacts
db/
incremental_db/
output_files/
c5_pin_model_dump.txt
*.rpt
*.qws
#*.qpf
*.qsf
*.done
*.map.summary
*.qsf.bak

# VS Code settings
.vscode/

# modelsim
work/
*.cr.mti
*.mpf
*.wlf

#idk
*.map.smsg
*.fit.smsg
*.fit.summary
*.jdi
*.pin
*.sld
*.sof
*.sta.summary